* {
    font-size: 10px;
}

body {
    font-family: 'Libre Baskerville', serif;
}

.centered {
    min-width: 100vh;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    p,
    a {
        font-size: 1.6rem;
        &.heavy {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    .big_fire {
        font-size: 5rem;
        line-height: 0;
    }
}
